.choice-container {
    border:           0.1rem solid lightblue;
    margin-bottom:    0.5rem;
    background-color: white;
    display:          flex;
    width:            100%;
    font-size:        2rem;
}

.choice-container:hover {
    cursor:     pointer;
    box-shadow: 0 0.4rem 1.4rem 0 lightblue;
    transform:  translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding:          1.5rem 2.5rem;
    background-color: #56a5eb;
    color:            #ffffff;
}

.choice-text {
    padding: 1.5rem;
    width:   100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/* hud */

#hud {
    display:         flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size:  2rem;
}

.hub-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    margin-top: 1.5rem;
    border: 0.3rem solid #56a5eb;
}

#progressBarFull {
    height: 3.4rem;
    width: 0%;
    background-color: #56a5eb;
}